body {
    background-color: #111426;
    color: #fff;
    font-family: monospace;
    font-size: 16px;
  }
  
  a {
    color: #93AEBF;
  }
  
  img {
    border-radius: 5px;
    border: 1px solid #93AEBF;
  }
  
  .container {
    padding: 30px;
    margin: 20px;
    border: 1px solid white;
    background-color: #1B2440;
    box-shadow: 1px 0px 2px 1px #fff;
  }